* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For tablets: */
/*@media only screen and (min-width: 600px) {
    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}*/

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 49%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


.row::after {
    content: "";
    clear: both;
    display: block;
}

html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    /*background-color: MediumSlateBlue;*/
    background-color: black;
    color: #ffffff;
    
}

.downloadImgCounterContainer{
    color: black;
    background-color: black;
}

.downloadImgCounterContainerSelected{
    color: white;
    background-color: green;
}

.emptyDoc{
    color: white;
    text-align: center;
    font-size: x-small;  
    padding-left: 2%;
}

.downloadButton {
	-moz-box-shadow: 0px 0px 0px 2px white;
	-webkit-box-shadow: 0px 0px 0px 2px white;
	box-shadow: 0px 0px 0px 2px white;
	background-color:green;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
}

.downloadNowButton {
	background-color:green;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
    padding:7px;
	text-decoration:none;
    min-width: 45%;
    /*margin-left: 25%;
    margin-right: 25%;*/
    margin-bottom: 1%;
    margin-top: 5%;
}

.imgContainer{
    border: 2px solid black;
    text-align: center;
    min-height:15em;
    border-radius:5px;
}

.imgContainerSelected{
    border: 2px solid green;
}

.printDialog{
    color: white;
    padding: 2%;
    border-top: 0;
    background-color: transparent;
    font-size: small;
    border:2px solid white;
    border-radius:5px;
}

.logoText, a.logoText:visited, a.logoText:active, a.logoText:hover{
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.printedLogo{
    width: 100%;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    text-decoration: none;
    color: white;
    background-color: black;
    max-height: 5%;
    padding-left: 5%;
}

.hidden{
    visibility: hidden;
}

@media screen{

    .printPreview{
        border: 1px solid black;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 50%;
        min-width: 10em; 

        text-align: center;        
        display: inline-block;

        box-shadow: 10px 10px 5px #888888;
    }

    .printPreviewColumn{
        text-align: center;
    }

    .downloadableImage{
        width: 70%;
        vertical-align: middle;
        min-height:15em;
        max-height:15em;
    }

    .print-only { display: none; }
    .non-printable { display: block; }
}

@media print {   

    img[class|=downloadableImage]{
        max-height: 100000mm;
        height:250mm;
        width:200mm; 
    }

    .print-only { display: block; }
    .non-printable { display: none; }    
}
